@using Warehouse.ViewModels
@model IEnumerable<SupplierOrderViewModel>
@{
    ViewData["Title"] = "Заказы у поставщиков ";
    Layout = "_Layout";
}

<h2>Заказы у поставщиков:</h2>

@foreach(var o in Model)
{
    <p><a asp-action="Details" asp-controller="SupplierOrders" asp-route-id="@o.Id">№@o.Id @o.DateTime.ToString("dd MM yyyy")</a></p>
}
