.vs/*
Warehouse/bin/*
Warehouse/obj/*
Warehouse/node_modules/*
Warehouse/wwwroot/lib/*
Warehouse.DataAccesLayer/bin/*
Warehouse.DataAccesLayer/obj/*
Warehouse.BusinessLogicLayer/bin/*
Warehouse.BusinessLogicLayer/obj/*
Warehouse.ClassLibrary/bin/*
Warehouse.ClassLibrary/obj/*
Warehouse.Tests/bin/*
Warehouse.Tests/obj/*
