@using Warehouse.ViewModels
@model IEnumerable<ClientRequestViewModel>

@{
    ViewData["Title"] = "Запросы клиентов";
    Layout = "_Layout";
}

<h2>Необработанные запросы:</h2>
<ul class="list-group">
    @foreach (var r in Model)
    {
        <li class="list-group-item"><a asp-controller="ClientRequests" asp-action="Details" asp-route-id="@r.Id">Запрос №@r.Id. @r.Title</a></li>
    }
</ul>
