@using Warehouse.DataAccessLayer.Models

@{
    ViewData["Title"] = "Запросы клиентов";
    Layout = "_Layout";
}

<h2>Необработанные запросы:</h2>
<ul class="list-group">
    <li class="list-group-item"><a asp-controller="ClientRequests" asp-action="Details" asp-route-id="1">Запрос №1. Состояние заказа</a></li>
    <li class="list-group-item"><a asp-controller="ClientRequests" asp-action="Details" asp-route-id="1">Запрос №2. Изменить содержание заказа</a></li>
    <li class="list-group-item"><a asp-controller="ClientRequests" asp-action="Details" asp-route-id="1">Запрос №1. Состояние заказа</a></li>
    <li class="list-group-item"><a asp-controller="ClientRequests" asp-action="Details" asp-route-id="1">Запрос №2. Изменить содержание заказа</a></li>
    <li class="list-group-item"><a asp-controller="ClientRequests" asp-action="Details" asp-route-id="1">Запрос №1. Состояние заказа</a></li>
    <li class="list-group-item"><a asp-controller="ClientRequests" asp-action="Details" asp-route-id="1">Запрос №2. Изменить содержание заказа</a></li>
    <li class="list-group-item"><a asp-controller="ClientRequests" asp-action="Details" asp-route-id="1">Запрос №1. Состояние заказа</a></li>
    <li class="list-group-item"><a asp-controller="ClientRequests" asp-action="Details" asp-route-id="1">Запрос №2. Изменить содержание заказа</a></li>
</ul>