@using Warehouse.ViewModels
@model IEnumerable<ClientRequestViewModel>

@{
    ViewData["Title"] = "Запросы клиентов";
    Layout = "_Layout";
}

<h2>Необработанные вопросы:</h2>
<ul class="list-group">
    @foreach (var r in Model)
    {
        <li class="list-group-item">
            <span class="text-muted"><small>@r.DateTime.ToString("dd.MM HH:mm")</small></span>
            <a asp-controller="ClientRequests" asp-action="Details" asp-route-id="@r.Id">Запрос №@r.Id. @r.Title</a>
            <span class="badge badge-primary">@r.ManagersUnreadMessagesCount</span>
        </li>
    }
</ul>
