@using Warehouse.ViewModels
@model CartViewModel

@{
    ViewData["Title"] = "Панель Бухгалтера";
    Layout = "_Layout";
}

<a role="button" asp-controller="Orders" asp-action="Unpaid" class="btn btn-primary btn-md active">Неоплаченные заказы покупателей</a>
<a role="button" asp-controller="SupplierOrders" class="btn btn-primary btn-md active">Неоплаченные заказы поставщикам</a>

