@using Warehouse.ViewModels
@model CartViewModel

@{
    ViewData["Title"] = "Панель Бухгалтера";
    Layout = "_Layout";
}

<a role="button" class="btn btn-primary btn-md active">Неоплаченные заказы покупателей</a>
<a role="button" class="btn btn-primary btn-md active">Неоплаченные заказы поставщикам</a>

