@using Warehouse.ViewModels
@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "Оформить новый товар";
    Layout = "_Layout";
}

<h2>Ожидают доставку:</h2>
<ul class="list-group">
    @foreach (var o in Model)
    {
        <li class="list-group-item">
            <a asp-controller="Orders" asp-action="Details" asp-route-id="@o.Id">
                Заказ №@o.Id. @o.Items.Sum(o => o.Product.Weight) кг. улица пушкина, дом колотушкина
            </a>
        </li>
    }
</ul>
