@using Warehouse.ViewModels
@model OrderViewModel
@{
    ViewData["Title"] = "Оформить новый товар";
    Layout = "_Layout";
}

<h2>Ожидают доставку:</h2>
<ul class="list-group">
    <li class="list-group-item"><a asp-controller="Orders" asp-action="Details" asp-route-id="1">Заказ №1. 4 кг. улица пушкина, дом колотушкина</a></li>
    <li class="list-group-item"><a asp-controller="Orders" asp-action="Details" asp-route-id="1">Заказ №1. 4 кг. улица пушкина, дом колотушкина</a></li>
    <li class="list-group-item"><a asp-controller="Orders" asp-action="Details" asp-route-id="1">Заказ №1. 4 кг. улица пушкина, дом колотушкина</a></li>
    <li class="list-group-item"><a asp-controller="Orders" asp-action="Details" asp-route-id="1">Заказ №1. 4 кг. улица пушкина, дом колотушкина</a></li>
    <li class="list-group-item"><a asp-controller="Orders" asp-action="Details" asp-route-id="1">Заказ №1. 4 кг. улица пушкина, дом колотушкина</a></li>
    <li class="list-group-item"><a asp-controller="Orders" asp-action="Details" asp-route-id="1">Заказ №1. 4 кг. улица пушкина, дом колотушкина</a></li>
    <li class="list-group-item"><a asp-controller="Orders" asp-action="Details" asp-route-id="1">Заказ №1. 4 кг. улица пушкина, дом колотушкина</a></li>
    <li class="list-group-item"><a asp-controller="Orders" asp-action="Details" asp-route-id="1">Заказ №1. 4 кг. улица пушкина, дом колотушкина</a></li>
</ul>