@using Warehouse.Models;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="md-form active-cyan-2 mb-3 lg-12" style="max-width: 768px">
    <input class="form-control" type="text" placeholder="Искать" aria-label="Искать">
</div>

@foreach (Product p in Model)
{
    @await Html.PartialAsync("_ProductCardPartial", p)
}
