@using ViewModels
@model SupplierViewModel

@{
    ViewData["Title"] = "Удалить";
    Layout = "_Layout";
}

<p>Удалить @Model.Name</p>
<form method="post">
    <input name="id" value="@Model.Id" hidden/>
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>
