@using Warehouse.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Мои корзина";
    Layout = "_Layout";
}

<h1>Моя корзина</h1>

<div class="row" style="margin: 30px 30px 30px 15px">
    <button class="btn-primary" style="margin-right: 20px">Заказать все</button>
    <button class="btn-primary">Заказать выбранные</button>
</div>

@foreach (Product p in Model)
{
    @await Html.PartialAsync("_ProductCardPartial", p)
}
