@using Warehouse.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Мои корзина";
    Layout = "_Layout";
}

<h1>Моя корзина</h1>

@foreach (Product p in Model)
{
    @await Html.PartialAsync("_ProductCardPartial", p)

}