@using Warehouse.ViewModels
@model CartViewModel

@{
    ViewData["Title"] = "Мои корзина";
    Layout = "_Layout";
}

<h1 class="text-center">Моя корзина</h1>

<script>
    function deleteCartProduct(id) {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", 'cart/delete', true);

        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                $("#cartProduct-" + id).remove();
            }
        }
        xhr.send("cartProductid=" + id);
    }
</script>

@if (Model != null && Model.CartProducts != null && Model.CartProducts.FirstOrDefault() != null)
{
    <div class="row" style="margin: 30px 30px 30px 15px">
        @Html.ActionLink("Заказать все", "Create", "Orders", new { ids = 1 }, new { @class = "btn btn-primary btn-md active m-r-5" })
        @Html.ActionLink("Заказать выбранные", "Create", "Orders", new { ids = 1 }, new { @class = "btn btn-primary btn-md active m-r-5" })
        @Html.ActionLink("Удалить выбранные", "Create", "Orders", new { ids = 1 }, new { @class = "btn btn-danger btn-md active m-r-5" })
    </div>


    @foreach (var p in Model.CartProducts)
    {
        <div id="cartProduct-@p.Id" class="row">
            @await Html.PartialAsync("_ProductCardPartial", p.Product)
            <div class="col-sm-1">
                <button onclick="deleteCartProduct(@p.Id)" class="btn btn-danger"><i class="fa fa-times"></i></button>
            </div>
        </div>
    }
}
else
{
    <h3>Корзина пуста. Посетите <a asp-controller="Products" asp-action="Index">каталог</a>, чтобы выбрать товар</h3>
}