@using Warehouse.ViewModels
@model CartViewModel

@{
    ViewData["Title"] = "Мои корзина";
    Layout = "_Layout";
}

<style>
    button {
        margin-left: 20px;
    }
</style>
<h1 class="text-center">Моя корзина</h1>

<script>
    function deleteCartProduct(id) {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", 'cart/delete', true);

        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                
            }
        }
        xhr.send("cartProductid=" + id);
    }
</script>

@if (Model != null)
{
    <div class="row" style="margin: 30px 30px 30px 15px">
        @Html.ActionLink("Заказать все", "Create", "Orders", new { ids = 1 }, new { @class = "btn btn-primary btn-md active" })
        @Html.ActionLink("Заказать выбранные", "Create", "Orders", new { ids = 1 }, new { @class = "btn btn-primary btn-md active" })
        @Html.ActionLink("Удалить выбранные", "Create", "Orders", new { ids = 1 }, new { @class = "btn btn-danger btn-md active" })
    </div>


    @foreach (var p in Model.CartProducts)
    {
        @await Html.PartialAsync("_ProductCardPartial", p.Product)
        <button onclick="deleteCartProduct(@p.Id)">Удалить</button>
    }
}
else
{
    <h3>Корзина пуста. Посетите <a asp-controller="Products" asp-action="Index">каталог</a>, чтобы выбрать товар</h3>
}