@using Warehouse.DataAccesLayer.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Мои корзина";
    Layout = "_Layout";
}

<style>
    button{
        margin-left: 20px;
    }
</style>
<h1 class="text-center">Моя корзина</h1>

<div class="row" style="margin: 30px 30px 30px 15px">
    @Html.ActionLink("Заказать все", "Create", "Orders", new { ids = 1 }, new { @class = "btn btn-primary btn-md active" })
    @Html.ActionLink("Заказать выбранные", "Create", "Orders", new { ids = 1 }, new { @class = "btn btn-primary btn-md active" })
    @Html.ActionLink("Удалить выбранные", "Create", "Orders", new { ids = 1 }, new { @class = "btn btn-danger btn-md active" })
</div>


@foreach (Product p in Model)
{
    @await Html.PartialAsync("_ProductCardPartial", p)
}
