@using Warehouse.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Мои корзина";
    Layout = "_Layout";
}

<style>
    button{
        margin-left: 20px;
    }
</style>
<h1 class="text-center">Моя корзина</h1>

<div class="row" style="margin: 30px 30px 30px 15px">
    <button class="btn-primary">Заказать все</button>
    <button class="btn-primary">Заказать выбранные</button>
    <button class="btn-danger">Удалить выбранные</button>
</div>


@foreach (Product p in Model)
{
    @await Html.PartialAsync("_ProductCardPartial", p)
}
